@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #faf6f6;
  --success-color: #5cb85c;
  --danger-color: #d9534f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
  height: 0;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* NAVBAR  */

.navbar {
  background-color: #047aed;
  color: white;
  height: 70px;
}

.navbar ul {
  display: flex;
  transition: all 0.4s ease-in-out;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
}

.navbar a:hover {
  border-bottom: 2px solid white;
}

.navbar .flex {
  justify-content: space-between;
}

/* UTILITY CLASSES  */

.showcase .grid {
  grid-template-columns: 55% 45%;
  overflow: visible;
  gap: 30px;
}

.btn:hover {
  transform: scale(0.9);
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Showcase */

.showcase {
  /* height: 400px; */
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  animation: slideInFromRight 1s ease-in-out;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-2deg);
}

.showcase-form input {
  margin-top: 30px;
}

.showcase-form input:focus {
  outline: none;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

/* STATS  */

.stats {
  padding-top: 100px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* CLI  */

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* CLOUD  */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* LANGUAGES  */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in-out;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.footer-heading h1,
p {
  color: white;
}

.footer .social a {
  margin: 10px;
}

/* ANIMATIONS  */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.features-head img {
  width: 200px;
  justify-self: flex-end;
}

/* SUBHEAD  */

.subhead h2,
.subhead p {
  color: var(--dark-color);
}

.subhead img {
  max-width: 300px;
  justify-self: flex-end;
}

/* MAIN  */

.features-main p {
  color: var(--dark-color);
}

.features-main .flex {
  justify-content: space-between;
  align-items: center;
}

.features-main .flex i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:nth-child(1) {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

.features-main .grid > *:nth-child(4) {
  grid-column: 1 / span 2;
}

/* DOCS  */

.docs-head img {
  width: 300px;
  justify-self: flex-end;
}

.docs-main h1,
.docs-main h2,
.docs-main h3,
.docs-main p,
.docs-main li,
.docs-main a {
  color: var(--dark-color);
}

.docs-main .btn {
  color: white;
}

.text-center {
  text-align: center;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
}

.docs-main .flex {
  justify-content: flex-start;
  align-items: center;
}

code,
pre {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* UTILITY  */
/* MARGIN  */
.my-1 {
  margin-top: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin-top: 1rem;
}

.alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 20px 0;
}

.alert i {
  margin-right: 20px;
}

.alert-success {
  background-color: var(--success-color);
  color: white;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* PADDING  */
.py-1 {
  padding-top: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding-top: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* background color and colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color) !important;
  color: var(--dark-color) o !important;
}

.bg-light,
.btn-light {
  background-color: var(--light-color) !important;
  color: var(--light-color) !important;
}

/* text sizes */
.sm {
  font-size: 1rem;
}
.lead {
  font-size: 20px;
}
.md {
  font-size: 2rem;
}
.lg {
  font-size: 3rem;
}
.xl {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.4s ease-in-out;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  overflow: visible;
  gap: 30px;
}

.btn:hover {
  transform: scale(0.9);
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* TABLETS  */
@media screen and (max-width: 940px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromLeft 1s ease-in-out;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .features-head .container {
    overflow: hidden;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cloud .grid {
    justify-items: center;
  }

  .cli-content {
    order: 1;
  }
  .cli-img {
    max-width: 400px;
    order: 0;
  }

  .footer .grid {
    text-align: center;
    justify-items: center;
  }

  .features-head img,
  .subhead img,
  .docs-head img {
    justify-self: center !important;
  }

  .features-head,
  .subhead,
  .docs-head {
    text-align: center;
  }

  .features-main .grid > *:nth-child(n) {
    grid-column: 1;
  }
}

/* MOBILES  */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .showcase-text {
    animation: slideInFromTop 1s ease-in-out;
  }

  .showcase-form {
    animation: slideInFromDown 1s ease-in-out;
  }
}

@media (max-width: 434px) {
  .showcase .card {
    width: 350px;
  }

  .showcase-text
  {
    width: 350px;
  }
}
